
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #cacccc;
    noise-color:#0a090a;
}

h1{
	font-family:"Bitstream Cyberbit";
	font-size:80px;
	margin-left:130px;
	color:#585858;
	
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#title {
    margin: 20px auto 0 auto;
    width: 700px;
}

#tablegame {
    margin: 20px auto 0 auto;
    width: 750px;
    height: 750px;
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
    border-radius: 6px;
    padding: 50px;
    position: relative;
}

.boton {
    float:left;
    width: 300px;
    height: 300px;
    opacity: 0.3;

}
#rojo {
    float: top;
    display: inline-block;
    background-color: red;
    margin: 15px;
     border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px inset #b00e64;
}

#verde {
    float: top;
    background-color: green;
    display: inline-block;
    margin: 15px;
    border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px inset #0eb062;
}
#amarillo{
    float: bottom;
    display: inline-block;
    background-color: yellow;
    margin: 15px;
     border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px inset #b0b00e;
}
#azul{
    float: bottom;
    display: inline-block;
    background-color: blue;
    margin: 15px;
   	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px inset #0e8ab0;
}

#score{
    right: 55px;
}

#start:hover {
   background-color: #fff;
   color: black;
}

#fail{
    z-index: 10;
    position: absolute;
    margin-left: 10px;
    margin-top: 322px;
    font-family: verdana;
    color: black;
    font-size: 100px;
    display: none;

}


.footer {
    clear: both;
    margin: 0 auto 10px auto;
    float: right;
    width: 400px;
}